[submodule "parlaylib"]
	path = parlaylib
	url = git@github.com:LottieWang/parlay_baseline.git
[submodule "baselines/gbbs"]
	path = baselines/gbbs
	url = git@github.com:LottieWang/gbbs.git
	branch = baseline
[submodule "baselines/MultiStep"]
	path = baselines/MultiStep
	url = git@github.com:LottieWang/Connectivity.git
[submodule "baselines/iSpan"]
	path = baselines/iSpan
	url = git@github.com:LottieWang/iSpan_baseline.git
